.hero-section {
  min-height: 80vh; /* fills most of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f8f8; /* optional, change if needed */
}

/* Profile image */
.hero-image img {
  width: 100%;       /* desktop size */
  height: auto;
  object-fit: cover;
  
}

/* Greeting */
.hero-greeting {
  font-size: 24px;
  color: #555;
  margin-bottom: 5px;
}

/* Name */
.hero-name {
  font-size: 60px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* Role */
.hero-role {
  font-size: 30px;
  font-weight: 400;
  color: #838282;
}

.details-section {
  background-color: #f8f8f8;
}

.details-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000;
}

.details-item p {
  margin: 0.25rem 0;
}

.details-item .fw-bold {
  font-weight: 600;
}

.details-item .text-muted {
  color: #555;
  font-size: 14px;
}





/* Responsive */
@media (max-width: 768px) {
  .hero-image img {
    width: 400px;
    height: 400px;
  }

  .hero-name {
    font-size: 40px;
  }

  .hero-role {
    font-size: 20px;
  }

  .hero-greeting {
    font-size: 18px;
  }

   .details-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .details-item p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .hero-image img {
    width: 300px;
    height: 300px;
  }

  .hero-name {
    font-size: 32px;
  }

  .hero-role {
    font-size: 18px;
  }

  .hero-greeting {
    font-size: 16px;
  }

  .expText{
    font-size: 28px;
  }
}