/* Container styling */
.portfolio-carousel-container {
  border: 1px solid #e5e3e3;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}

/* Title responsive */
.carousel-title {
  font-size: 36px;
  color: #656464;
  text-align: left;
}

/* Image control */
.carousel-image {
  max-height: 320px;
  object-fit: contain;
}

/* Carousel indicators styling */
.carousel-indicators [data-bs-target] {
  background-color: #000;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* Tablet view */
@media (max-width: 992px) {
  .carousel-title {
    font-size: 28px;
    text-align: center;
  }

  .carousel-image {
    max-height: 260px;
    margin-top: 10px;
  }
}

/* Mobile view */
@media (max-width: 576px) {

  .portfolio-carousel-container {
    padding: 12px;
  }

  .carousel-title {
    font-size: 22px;
    text-align: center;
  }

  .carousel-item {
    text-align: center;
  }

  .carousel-image {
    max-height: 200px;
    margin-top: 10px;
  }

  .carousel-item .d-flex {
    font-size: 13px;
  }

  .btn {
    font-size: 14px;
    padding: 10px;
  }
}