.carousel-item img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  padding: 10px;
}

@media (max-width: 992px) {
  .carousel-item .col-lg-6 {
    text-align: center;
  }

  .carousel-item img {
    max-height: 300px;
    margin: 0 auto 10px;
  }
}